<h1><%= @list.name %></h1>
<% @list.bookmarks.each do |bookmark| %>
  <h2><%= bookmark.movie.title %></h2>
  <p><%= bookmark.comment %></p>
<% end %>
<%= link_to "Add a movie", new_list_bookmark_path(@list) %>
<hr>
<%= link_to "Back to lists", lists_path %>
